// Place all the styles related to the Deals controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
#show {
	background-color: #F2F0CE;"
	border: 1px solid #012340;"
	border-radius: 25px;"
	box-shadow: rgb(150, 150, 150) 6px 6px 6px;"
}